typechecking
Makefile
*.o
*/*.o

data/selector.h
data/selector.cpp
data/tree.h
data/tree.cpp

dma/selector.h
dma/selector.cpp
dma/state.h
dma/state.cpp

intermediate/selector.h
intermediate/selector.cpp
intermediate/flatterm.h
intermediate/flatterm.cpp
intermediate/statement.h
intermediate/statement.cpp

prop/selector.h
prop/selector.cpp
prop/expr.h
prop/expr.cpp

approx/approxterm.cpp
approx/approxterm.h
approx/selector.cpp
approx/selector.h

setterm/selector.cpp
setterm/selector.h
setterm/term.cpp
setterm/term.h



