typechecking
*.o
*/*.o

data/selector.h
data/selector.cpp
data/tree.h
data/tree.cpp

intermediate/selector.h
intermediate/selector.cpp
intermediate/flatterm.h
intermediate/flatterm.cpp
intermediate/statement.h
intermediate/statement.cpp

prop/selector.h
prop/selector.cpp
prop/expr.h
prop/expr.cpp

